@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  font-family: 'Montserrat', sans-serif;
}
@layer components {
  .title {
    @apply pt-5 relative text-3xl text-gray-800 font-bold text-left before:content-[''] before:absolute before:bottom-[-10px] before:left-0 before:transform before:-translate-x-0 before:w-[30px] before:h-[2px] before:bg-primary mb-6;
  }
  .container {
    @apply w-[1200px] max-w-full mx-auto px-5 pt-20;
  }
  .about-img {
    @apply md:max-w-[450px] max-w-80 h-auto rounded-lg shadow-lg transition duration-500 transform;
  }
  .about-img-overlay {
    @apply absolute top-8 left-8;
  }
}
